{% extends "base.html" %}

{% block content %}
<!--<h1>Local Library</h1>-->

<h3><p>Welcome to our <b>LocalLibrary !!</b></p></h3>

<h6><p>The library has the following record counts:</p></h6>
<ul>
<li><strong>Books:</strong> {{ num_books }}</li>
<li><strong>Copies:</strong> {{ num_instances }}</li>
<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
<li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>


You have visited this page {{ num_visits }} times.

{% endblock %}